:root {
    --on-color: #04fb62;
    --bg: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Digital7Mono";
    src: url("digital-7 (mono).ttf") format("truetype");
    font-display: swap;
}

body {
    background: var(--bg);
    color: var(--on-color);
    font-family: monospace;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#clock {
    text-align: center;
}

/* Lines */

#dateLine,
#timeLine {
    white-space: nowrap;
    overflow: visible;
}

#dateLine {
    line-height: 2em;
    font-size: 10.8vmin;
}

#timeLine {
    line-height: 0.9em;
    font-size: 75vmin;
}

#dateLine, #timeLine {
    display: flex;
    gap: 0;  
    justify-content: center;
    align-items: baseline;  
}

/* Grouped parts */

.numeric-group,
.alpha-group {
    display: inline-block;
    letter-spacing: 0.1em;
    font-family: Digital7Mono, monospace;
}

.numeric-group {
    letter-spacing: 0.09em;
}

#colon-min, #colon-sec {
    display: inline-block;
    margin: 0 -0.14em;
}

#sec, #colon-sec {
    font-size: 38vmin;
    line-height: 0.1em;
    color: #00aaff;
}

#day, #month, #year {
    margin-right: 1.5ch;
}

#weekday {
    margin-right: 2.5ch;
}
