/* --- Local fonts ---------------------------------------------------- */
/* 
    https://fontstruct.com/fontstructions/ 
    https://fontmeme.com/
*/

@font-face {
    font-family: "DSEG7Classic";
    src:
        url("DSEG7Classic-Regular.woff2") format("woff2"),
        url("DSEG7Classic-Regular.woff")  format("woff"),
        url("DSEG7Classic-Regular.ttf")   format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "DSEG14Classic";
    src:
        url("DSEG14Classic-Regular.woff2") format("woff2"),
        url("DSEG14Classic-Regular.woff")  format("woff"),
        url("DSEG14Classic-Regular.ttf")   format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "DSEG7ClassicMini";
    src:
        url("DSEG7ClassicMini-Regular.woff2") format("woff2"),
        url("DSEG7ClassicMini-Regular.woff")  format("woff"),
        url("DSEG7ClassicMini-Regular.ttf")   format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "G7Segment7a";
    src: url("G7_Segment_7a.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "G7Segment7S5";
    src: url("G7_Segment7_S5.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "LCDDot";
    src: url("lcddot.otf.woff2") format("woff2"),
            url("lcddot.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "DigitalDisplay";
    src: url("digital-display.otf.woff2") format("woff2"),
            url("digital-display.otf") format("opentype");
    font-display: swap;
}


@font-face {
    font-family: "AlarmClock";
    src: url("alarm-clock.otf.woff2") format("woff2"),
            url("alarm-clock.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "MatrixSansRaster";
    src: url("MatrixSansRaster-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "MatrixSansScreen";
    src: url("MatrixSansScreen-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "LEDBoard7";
    src: url("LED-Board-7.ttf.woff") format("woff"),
        url("LED-Board-7.ttf.svg") format("svg"),
        url("LED-Board-7.ttf.eot");
    font-display: swap;
}

@font-face {
    font-family: "RepetitionScrolling";
    src: url("Repetition-Scrolling.ttf.woff") format("woff"),
        url("Repetition-Scrolling.ttf.svg") format("svg"),
        url("Repetition-Scrolling.ttf.eot");
    font-display: swap;
}

@font-face {
    font-family: "SquareDotMatrix";
    src: url("Square-Dot-Matrix.ttf.woff") format("woff"),
        url("Square-Dot-Matrix.ttf.svg") format("svg"),
        url("Square-Dot-Matrix.ttf.eot");
    font-display: swap;
}

@font-face {
    font-family: "Digits";
    src: url("digits.otf.woff2") format("woff2"),
        url("digits.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "LondonUnderground";
    src: url("London Underground Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "LondonUnderground";
    src: url("London Underground Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "LondonUnderground";
    src: url("London Underground Heavy.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
}
